.blog-Page{
    @include center;
    flex-direction: column;
    padding: 50px 13%;
    text-align: center;
    line-height: 1.5;
    &-Header{
        margin: 50px 0;
        width: 50%;
    }
    &-Content{
        margin: 50px 0;
        text-align: right;
    }
}