.portfolio-Product{
    @include center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 100px 10%;
    &-Section{
        width: 30%;
        margin: 25px 0;
        overflow: hidden;
        text-align: center;
        @media (max-width:576px) {
            width: 40%;
            
        }
        img{
            transition: 0.3s;
            width: 100%;

        }
        h1{

            @media (max-width:992px) {
                font: size 22px ;
                
            }
            @media (max-width:576px) {
                font-size: 20px;
            }
        }
        &:hover img{
            margin-right:  -25px ;
        }
    }
    
}